<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poems Index</title>
</head>
<body>

<div class="container">

        <h1 class="mb-5">Poem Book</h1>
        <a href="/poems/new" class="create btn btn-outline-dark">Create a Poem</a>
        
        <% poems.forEach(poem => { %>
            <div class="card mt-2">

                <div class="card-body">
                    <h4 class="card-title">
                        <%= poem.title %>
                    </h4>
        
                    <div class="card-text mb-4">
                        <%= poem.tags %>
                    </div>

                    <a href="poems/<%= poem.id %>" class="read btn btn-dark">Read Poem</a> 
                    <!--clicks into each individual poem to read poem's content-->
                    
                    <form action="/poems/<%= poem.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete Poem</button>
                    </form>
                </div>
            </div>
       <% }) %>
    </div>

    
</body>
</html>