<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Create New Poem</title>
</head>
<body>
    <div class = "container">
        <h3>Create a New Poem</h3>
        <nav>
            <button><a href="/poems">Back to Poem Index</a></button>
        </nav>
        <div class = "card">
            <form action="/poems/new" method="post">
                <div class="card-title form-group">
                    <label for="title"><strong>Title</strong></label>
                    <input type = "text" name = "title" id = "title" placeholder="Title"/>
                </div>

                <div class="card-subtitle form-group">
                    <label for="tags"><strong>Descriptive Tags</strong></label>
                    <textarea name="tags" id="tags" class="form-control" required></textarea>
                </div>

                <div class="card-text mb-5 form-group">
                    <label for="content"><strong>Content</strong></label>
                    <textarea name="content" id="content" cols="30" rows="10" class="form-control" required></textarea>
                </div>
                
                <a href="/poems" class="cancel btn btn-outline-secondary">Cancel</a>
                <input type = "submit" value = "Click to Create Poem">   

            </form>
        </div>
    </div>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

    body{
        background-color: #c0c0c0;
    }
    h3{
        font-family: 'Limelight', cursive;
        font-size: 60px;
        color: black;
        text-shadow: 3px 3px lightgray;
        text-transform: uppercase;
    }
    .card{
        background-image: linear-gradient(45deg, black, gray, white, black);
    }
    .card-title{
        color: white;
    }
    .card-text{
        color: white;
    }
    label{
        color: white;
    }
    .create{
        background-image: linear-gradient(45deg, black, gray, grey,  black);
        color: white;
    }
    .cancel{
        background-image: linear-gradient(45deg, black, gray, grey,  black);
        color: white;
    }
</style>
</html>